
<!-- <div class="container-fluid">
     -->
  <app-nav></app-nav>

  <!-- Main Content -->
  <div class="row mt-4">
    <!-- Courses Section -->
    <div class="col-md-12">
      <div class="card mb-3" *ngFor="let course of courses">
        <div class="card-body">
          <h5 class="card-title">{{ course.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Duration: {{ course.duration }}</h6>
          <p class="card-text">{{ course.description }}</p>
        </div>
      </div>
    </div>

    
  </div>
<!-- </div> -->
